table{
    /* width: 100%; */
    background-color: lightgray;
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    height: auto;
    text-align: center;
    font-size: 35px;
    text-shadow: 0 0 10px black;
}

caption {
    padding: 20px;
    border: 1px solid lightgray;
    background-color: rgba(220, 140, 50, 1);
    color: rgb(255, 240, 220);
    font-size: 40px;
    font-weight: bolder;
}

tr {
    height: 100px;
}

th {
    padding-top: 50px;
    width: 150px;
    font-size: 28px;
}

td {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

.odd {
    background-color: rgba(240, 140, 50, 0.5);
}
.even {
    background-color: rgb(250, 220, 200);
}

.wiqends {
    background-color: tomato;
}

#opp{
    opacity: 0.7;
    background-color: lightgray;
}
