*, ::after, ::before {
    box-sizing: border-box;
    /* margin: auto; */
    }

.rowh::after {
    content: "";
    clear: both;
    display: block;
    }

.row::after {
    content: "";
    clear: both;
    display: block;
    height: fit-content;
    }


[class*="col-"] {
    float: left;
    padding: 5px;
    }


.fa {
    padding: 5px;
    font-size: 14px;
    width: 27px;
    height: 22px;
    text-align: center;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 50%;
    }
    
.fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
    background: #3B5998;
    color: white;
    }
    
.fa-twitter {
    background: #55ACEE;
    color: white;
    }
    
    .fa-google {
    background: #dd4b39;
    color: white;
    }
      
body{
    width: 100%;
}

.rowh{
    position: relative;
    font-family: cursive;
    /* border: 1px solid rgb(200, 120, 50); */
    color: rgb(150, 80, 50);
    text-shadow: 0 0 3px grey;
    /* text-shadow: -1px -1px black, 1px 1px orangered; */
    text-align: left;
}

.row img{
    max-width: 100%;
    opacity: 0.5;
    height: auto;
}

/* 

.h_h{
    background-color: grey;
    color:rgb(255, 240, 220);
    text-shadow: 0 0 3px grey;
    margin: auto    ;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 5px;
} */

/* .h_c{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
} */


/* .ddd{
    columns: red;
    text-shadow: 0 0 5px black;
} */


/* 
.h_c ul li{
    display: block;
    width: 90px;
    border-radius: 3px;
    float: left;
}

.h_c ul li:hover{
    background-color:rgb(190, 140, 140);
}

.h_c ul li a{
    text-decoration: none;
    color: rgb(200, 120, 50);
    text-shadow: 2px 2px 5px rgb(190, 190, 190);
}

.h_c ul li a:hover {
    color: lightyellow;
} */

/* ----------------------------------------------------------------------- */

.row{
    margin: 0;
    width: 100%;
    position: relative;
    font-family: cursive;
    text-shadow: 0 0 1px black;
    min-height: 880px;
    color: rgb(200, 120, 50);
    text-align: center;
}

.d1{
    position: absolute;
    top: 3%;
    left: 37%;
    height: auto;
    padding: 20px;
    border: 20px solid white;
    box-shadow: 0 0 15px rgb(150, 80, 50);
    background-color:rgb(255, 240, 220);
    z-index: 7;
}

.d2{
    position: absolute;
    top: 15%;
    left: 0;
    height: auto;
    padding: 20px;
    border: 20px solid white;
    box-shadow: 0 0 15px rgb(170, 100, 70);
    background-color:rgb(255, 240, 220);
    z-index: 8;
}

.d3{
    position: absolute;
    bottom: 3%;
    left: 20%;
    padding: 20px;
    border: 20px solid white;
    box-shadow: 0 0 15px rgb(150, 80, 50);
    background-color:rgb(255, 240, 220);
    z-index: 9;
}

.d4{
    position: absolute;
    top: 10%;
    right: 0;
    padding: 20px;
    border: 20px solid white;
    box-shadow: 0 0 15px rgb(150, 80, 50);
    background-color:rgb(255, 240, 220);
    z-index: 5;
}

.d5{
    position: absolute;
    top: 38%;
    left: 52%;
    padding: 20px;
    border: 20px solid white;
    box-shadow: 0 0 15px rgb(150, 80, 50);
    background-color:rgb(255, 240, 220);
    z-index: 6;
}

.d1 img:hover{
    opacity: 1;
}

.d2 img:hover{
    opacity: 1;
}

.d3 img:hover{
    opacity: 1;
}


.d4 img:hover{
    opacity: 1;
}


.d5 img:hover{
    opacity: 1;
}


.d1:hover{
    z-index: 10;
}

.d2:hover{
    z-index: 10;
}

.d3:hover{
    z-index: 10;
}


.d4:hover{
    z-index: 10;
}


.d5:hover{
    z-index: 10;
}


.dt1{
    position: absolute;
    top: 0;
    left: 2%;
    padding: 20px;
    /* border: 20px solid white;
    box-shadow: 0 0 15px rgb(150, 80, 50);
    background-color:rgb(255, 240, 220); */
    z-index: 2;
}


.dt2{
    position: absolute;
    top: 0;
    right: 0;
    /* border: 20px solid white;
    box-shadow: 0 0 15px rgb(150, 80, 50);
    background-color:rgb(255, 240, 220); */
    z-index: 2;
    padding: 20px;
}

.dt2 a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    }


.dt3{
    position: absolute;
    bottom: 0;
    left: 1%;
    /* border: 20px solid white;
    box-shadow: 0 0 15px rgb(150, 80, 50);
    background-color:rgb(255, 240, 220); */
    z-index: 2;
    padding: 20px;
}


.dt4{
    position: absolute;
    bottom: 2%;
    right: 10%;
    border-left: 2px solid rgb(150, 80, 50);
    border-right: 2px solid rgb(150, 80, 50);
    /* box-shadow: 0 0 15px rgb(150, 80, 50); */
    /* background-color:rgb(255, 240, 220); */
    z-index: 2;
    padding: 10px 15px;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
    position: static;
  }
}


.nav{
border-radius: 5px;
background-color:rgb(120, 120, 120);
}


.nav .nav-item{
    margin-left: 0!important;
    padding: 3px 10px!important;
    font-size: 16px;
    color: black;
} 

.nav .nav-link{
    color: rgb(255, 240, 220)!important;
    text-shadow: 0 0 3px black;
    margin: 2px 0 !important;
    padding: 0 15px!important;
}

.nav .nav-link:hover{
    text-shadow: 0 0 3px coral;
}

.navbar-nav .nav-item{
    margin: 0!important;
    padding: 0!important;
    padding: 0!important;
    font-size: 20px;
    border-radius: 5px;
}

.navbar .nav-link{
    color: rgb(200, 120, 50);
    /* font-weight: bolder; */
    text-shadow: 2px 2px 5px rgb(190, 190, 190);;
    margin: 0!important;
    padding: 0 15px!important;
}


.navbar .nav-link:hover{
    background-color: rgb(200, 120, 50);
    color: white;
    border-radius: 5px;
    text-shadow: 2px 2px 5px rgb(190, 190, 190);;
}


footer{
    background-image: url("foni4.jpg");
    height: auto;
    bottom: 0;
    padding: 10px;
    /* color: red; */
    text-align: left!important;
}

.rmd{
    position: fixed;
    left: 57%;
    top: 11%;
    height: 500px;
    max-width: 30%;
    /* background-color:rgb(248, 240, 230);  */
    padding:10px;
    z-index: 10;
}


.rowh a img{
    width: 80%;
     border: 20px solid rgb(240, 150, 80);
      margin-top: 10px;
      margin-bottom: 10px;
      opacity: 0.7;
    }


.rowh img{
        /* width: 80%; */
         border: 20px solid rgb(255, 180, 120);
          margin-top: 10px;
          margin-bottom: 10px;
          box-shadow: 5px 5px 10px grey;
        }


.rowh a img:hover{
    border-radius: 50px;
    width: 100%;
    opacity: 1;
    z-index: 20;
}


#imgrot {
animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: 2;
  animation-direction: alternate;  
}


@keyframes example {
  0%   {transform: rotatey(0deg);}
  100% {transform: rotatey(180deg);}
}
